[submodule "InMemoryClusteringAPI"]
	path = external/InMemoryClusteringAPI
	url = git@github.com:ParAlg/InMemoryClusteringAPI.git
[submodule "gbbs"]
	path = external/gbbs
	url = https://github.com/ParAlg/gbbs.git
