Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out/
Clusterers: Neo4jConnectivity
Graphs: head.txt
GBBS format: false
Wighted: true
Number of threads: 1
Number of rounds: 1
Timeout: 7h

ConnectivityClusterer:
  connectivity_config:
    threshold: inf; 1

Neo4jConnectivity:
  connectivity_config:
    threshold: None; 1