Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out_lp/
Clusterers: NetworKitPLP
Graphs: com-dblp.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 4
Number of rounds: 1
Timeout: 7h

Neo4jLabelPropagation:
  label_propagation_config:
    updateThreshold: 100
    maxIterations: 200


NetworKitPLP:
  label_propagation_config:
    maxIterations: 200
    updateThreshold: 100

NetworKitNetworKitLPDegreeOrdered:


LabelPropagationClusterer:
  label_propagation_config:
    async:true
    max_iteration: 200
    update_threshold: 100