Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out/
Clusterers: NetworKitKCore
Graphs: head.ungraph.txt
GBBS format: false
Number of threads: 1; 2
Number of rounds: 1
Timeout: 7h

ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 4; 3; 2; 1
    weight_threshold: 0.5; 0.2; 0.1

NetworKitPLM:
  networkit_plm:
    refine: False; True
    gamma: 0.5; 1
    par: simple; balanced
    maxIter: 10; 20

Neo4jConnectivity:
  connectivity_config:
    threshold: 10; 11

SnapConnectivity:
  connectivity_config:
    threshold: 10; 11

SnapKCore:


NetworKitConnectivity:

NetworKitKCore

