Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out_kcore/
Clusterers: KCoreClusterer
Graphs: head.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1
Number of rounds: 1
Timeout: 7h

KCoreClusterer:
  kcore_config:
    threshold: 5; 1

Neo4jKCore:
  kcore_config:
    threshold: None; 1

SnapKCore:

NetworKitKCore:

