Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/out_connectivity/
Clusterers: ConnectivityClusterer; Neo4jConnectivity; SnapConnectivity; NetworKitConnectivity
Graphs: com-dblp.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1; 2; 4
Number of rounds: 1
Timeout: 7h

ConnectivityClusterer:
  connectivity_config:
    threshold: inf

Neo4jConnectivity:
  connectivity_config:
    threshold: None

SnapConnectivity:

NetworKitConnectivity:

