Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out_tectonic/
Clusterers: TectonicClusterer
Graphs: com-amazon.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 8
Number of rounds: 1
Timeout: 7h

TectonicClusterer:
  tectonic_config:
    threshold:0.02;0.04;0.06;0.08;0.1
    match_real_tectonic:false

Tectonic:
  tectonic_config:
    threshold:0.02;0.04;0.06;0.08;0.1
