Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out_modularity/
Clusterers: NetworKitPLM; NetworKitParallelLeiden
Graphs: head.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 4
Number of rounds: 1
Timeout: 7h

NetworKitPLM:
  PLM_config:
    use_refine: True; False
    gamma: 1
    maxIter: 32
    recurse: True; False

NetworKitParallelLeiden:
  PL_config:
    gamma: 1
    iterations: 3