Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out_lp/
Clusterers: NetworKitLPDegreeOrdered
Graphs: head.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1; 2
Number of rounds: 1
Timeout: 7h

Neo4jLabelPropagation:
  label_propagation_config:
    updateThreshold: None
    maxIterations: 100


NetworKitPLP:
  label_propagation_config:
    maxIterations: 100

NetworKitNetworKitLPDegreeOrdered:


