Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/out_tectonic/
Clusterers: TectonicClusterer
Graphs: head.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1
Number of rounds: 1
Timeout: 7h

TectonicClusterer:
  tectonic_config:
    threshold: 1

Tectonic:

