Input directory: /home/ubuntu/snap/
Output directory: /home/ubuntu/ParClusterers/
Clusterers: ParallelAffinityClusterer
Graphs: com-amazon.ungraph.txt; com-dblp.ungraph.txt
Number of threads: 10; ALL
Number of rounds: 1
Timeout: 7h

ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 4; 3; 2; 1
    weight_threshold: 0.5; 0.2; 0.1