Input directory: /home/ubuntu/data/
Output directory: /home/ubuntu/data/
CSV output directory: /home/ubuntu/data/
Clusterers: KCoreClusterer
Graphs: tmp.txt
GBBS format: false
Wighted: true
Number of threads: 1
Number of rounds: 1
Timeout: 7h
Postprocess only: false

KCoreClusterer:
  kcore_config:
    threshold: 1
