Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_snap_tmp/
CSV output directory: /home/sy/ParClusterers/results/out_snap_tmp_csv/
Clusterers: ParallelCorrelationClusterer
Graphs: com-lj.gbbs.txt;com-amazon.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false


ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 0
    louvain_config: {num_iterations: 100, num_inner_iterations: 100}; {num_iterations: 334863, num_inner_iterations: 334863}
    use_refinement: true
    clustering_moves_method: LOUVAIN

ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 0
    louvain_config: {num_iterations: 100, num_inner_iterations: 100}; {num_iterations: 334863, num_inner_iterations: 334863}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN


ConnectivityClusterer:
  connectivity_config:
    threshold: 0.5
    upper_bound: false; true