Input directory: /home/sy/xc_data/
Output directory: /home/sy/ParClusterers/results/out_xc_k10_more/
CSV output directory: /home/sy/ParClusterers/results/out_xc_k10_more_csv/
Clusterers: ParHacClusterer;ParallelModularityClusterer
Graphs: AmazonTitles_k10.ungraph.txt;WikiSeeAlsoTItles_k10.ungraph.txt;Amazon_k10.ungraph.txt;WikiTitles_k10.ungraph.txt
GBBS format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 51845.48; 62214.58; 74657.50; 89588.99; 107506.79; 129008.15; 154809.78; 185771.74; 222926.09
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 0.6464466094067263; 0.875; 0.9558058261758408; 0.984375; 0.99447572827198; 0.998046875; 0.9993094660339975; 0.999755859375; 0.9999136832542497
    epsilon: 0.01;0.1;1
