Input directory: /home/sy/mount-data/RMAT/
Output directory: /home/sy/ParClusterers/results/out_rmat/
CSV output directory: /home/sy/ParClusterers/results/out_rmat_csv/
Clusterers: LDDClusterer;ScanClusterer;LabelPropagationClusterer;SLPAClusterer;TectonicClusterer;ConnectivityClusterer
Graphs: rmat_32768_32768000.gbbs.txt;rmat_1048576_1048576000.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false


LDDClusterer:
  ldd_config:
    beta: 0.01;0.1;0.2;0.3;0.4;0.5;0.6;0.7;0.8;0.9;1;2;3;4;5;6;7

ScanClusterer:
  scan_config:
    mu: 2;5;10
    epsilon: 0.01;0.05;0.1;0.2;0.3;0.4;0.5;0.6;0.7;0.8;0.9

LabelPropagationClusterer:
  label_propagation_config:
    max_iteration:5;10;50;100


SLPAClusterer:
  label_propagation_config:
    max_iteration:5;10;50;100
    remove_nested:false
    prune_threshold:0.2;0.4

TectonicClusterer:
  tectonic_config:
    threshold: 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 0.07; 0.08; 0.09; 0.10; 0.11; 0.12; 0.13; 0.14; 0.15; 0.16; 0.17; 0.18; 0.19; 0.20; 0.21; 0.22; 0.23; 0.24; 0.25; 0.26; 0.27; 0.28; 0.29; 0.30; 0.31; 0.32; 0.33; 0.34; 0.35; 0.36; 0.37; 0.38; 0.39; 0.40; 0.41; 0.42; 0.43; 0.44; 0.45;0.46;0.47;0.48;0.49
    match_real_tectonic: false

ConnectivityClusterer:
  connectivity_config:
    threshold: 0.50
