Input directory: /home/sy/mount-data/UCIknnGraphs/
Output directory: /home/sy/ParClusterers/results/out_uci_quality_neo4j/
CSV output directory: /home/sy/ParClusterers/results/out_uci_quality_neo4j_csv/
Clusterers: TigerGraphLouvain
Graphs: faces.graph.txt;iris.graph.txt;digits.graph.txt;wdbc.graph.txt;wine.graph.txt
GBBS format: false
Wighted: true
Number of threads: 4
Number of rounds: 1
Timeout: 7h
Postprocess only: false

TigerGraphLouvain:
  PLM_config:
    maxIterations: 10;20
