Input directory: /home/sy/mount-data/LargeKnnGraphs/
Output directory: /home/sy/ParClusterers/results/out_large_weighted_more/
CSV output directory: /home/sy/ParClusterers/results/out_large_weighted_more_csv/
Clusterers: ParallelAffinityClusterer;ParHacClusterer;KCoreClusterer;LDDClusterer;ScanClusterer;LabelPropagationClusterer;SLPAClusterer;TectonicClusterer;ConnectivityClusterer;NetworKitPLM
Graphs: mnist_k10.graph.txt;mnist_k50.graph.txt;imagenet_k10.graph.txt;imagenet_k50.graph.txt;imagenet_k100.graph.txt;reddit-clustering_k10.graph.txt;stackexchange-clustering_k10.graph.txt;reddit-clustering_k100.graph.txt;stackexchange-clustering_k100.graph.txt;reddit-clustering_k50.graph.txt;stackexchange-clustering_k50.graph.txt
GBBS format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

KCoreClusterer:
  kcore_config:
    threshold: 1;2;3;4;5;6;7;8;16

ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 30
    dynamic_weight_threshold_config:{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.00001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.0001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.01};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.1};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.3};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.5};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.7};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.9}

ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 3.0517578125e-05; 1.0789593218788873e-05; 3.814697265625e-06; 1.3486991523486091e-06; 4.76837158203125e-07; 1.6858739404357614e-07; 5.960464477539063e-08; 2.1073424255447017e-08; 7.450580596923828e-09; 2.634178031930877e-09
    epsilon: 0.01;0.1;1

ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 0.95; 0.00001; 0.000001; 0.0000001; 0.00000001
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 0.0002; 0.002; 29.40; 182.01; 1126.95; 6977.78; 43204.57; 267511.30
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

LDDClusterer:
  ldd_config:
    beta: 0.0001;0.001;1;2;3;4;5;6;7

ScanClusterer:
  scan_config:
    mu: 2;5
    epsilon: 0.01;0.05;0.1;0.2;0.3;0.4;0.5;0.6;0.7;0.8;0.9

NetworKitPLM:
  PLM_config:
    use_refine: True; False
    gamma: 0.0002; 0.002; 0.024;0.04976639999999999;0.10319560703999997;0.2139864107581439;0.4437222213480871;0.9201023981873934;1.9079243328813786;3.956271896662826;8.203725404920034;17.01124499964218; 29.40; 182.01; 1126.95; 6977.78; 43204.57
    maxIter: 10; 20
    recurse: True
