Input directory: /home/sy/mount-data/LargeKnnGraphs/
Output directory: /home/sy/ParClusterers/results/out_large_weighted_50/
CSV output directory: /home/sy/ParClusterers/results/out_large_weighted_50_csv/
Clusterers: ParHacClusterer;ParallelAffinityClusterer;LDDClusterer;ScanClusterer;LabelPropagationClusterer;SLPAClusterer;TectonicClusterer;ConnectivityClusterer
Graphs: SKIP;SKIP;SKIP;reddit-clustering_k50.graph.txt;stackexchange-clustering_k50.graph.txt
GBBS format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 4;5;25
    dynamic_weight_threshold_config:{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.00001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.0001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.01};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.1};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.3};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.5};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.7};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.9}

ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 1.0; 0.3535533905932738; 0.125; 0.04419417382415922; 0.015625; 0.005524271728019903; 0.001953125; 0.0006905339660024879; 0.000244140625; 8.631674575031098e-05
    epsilon: 0.01;0.1;1

ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 0.0001; 0.0201; 0.040100000000000004; 0.0601; 0.0801;0.1;0.3; 0.5; 0.7; 0.9
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 0.024;0.04976639999999999;0.10319560703999997;0.2139864107581439;0.4437222213480871;0.9201023981873934;1.9079243328813786;3.956271896662826;8.203725404920034;17.01124499964218
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

LDDClusterer:
  ldd_config:
    beta: 0.01;0.1;0.2;0.3;0.4;0.5;0.6;0.7;0.8;0.9

ScanClusterer:
  scan_config:
    mu: 2;5
    epsilon: 0.35;0.5;0.7

LabelPropagationClusterer:
  label_propagation_config:
    max_iteration:5;10;50;100

SLPAClusterer:
  label_propagation_config:
    max_iteration:5;10;50;100
    remove_nested:false
    prune_threshold:0.2;0.4

TectonicClusterer:
  tectonic_config:
    threshold: 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 0.07; 0.08; 0.09; 0.10; 0.11; 0.12; 0.13; 0.14; 0.15; 0.16; 0.17; 0.18; 0.19; 0.20; 0.21; 0.22; 0.23; 0.24; 0.25; 0.26; 0.27; 0.28; 0.29; 0.30; 0.31; 0.32; 0.33; 0.34; 0.35; 0.36; 0.37; 0.38; 0.39
    match_real_tectonic: false

ConnectivityClusterer:
  connectivity_config:
    threshold: 0.50; 0.51; 0.52; 0.53; 0.54; 0.55; 0.56; 0.57; 0.58; 0.59; 0.60; 0.61; 0.62; 0.63; 0.64; 0.65; 0.66; 0.67; 0.68; 0.69; 0.70; 0.71; 0.72; 0.73; 0.74; 0.75; 0.76; 0.77; 0.78; 0.79; 0.80; 0.81; 0.82; 0.83; 0.84; 0.85; 0.86; 0.87; 0.88; 0.89; 0.90; 0.91; 0.92; 0.93; 0.94; 0.95; 0.96; 0.97; 0.98
    upper_bound: false