Input directory: /home/sy/mount-data/LargeKnnGraphs/
Output directory: /home/sy/ParClusterers/results/out_ldd/
CSV output directory: /home/sy/ParClusterers/results/out_ldd_csv/
Clusterers: LDDClusterer
Graphs: faces.graph.txt;iris.graph.txt;digits.graph.txt;wdbc.graph.txt;wine.graph.txt;mnist_k10.graph.txt;mnist_k50.graph.txt;imagenet_k10.graph.txt;imagenet_k50.graph.txt;imagenet_k100.graph.txt;reddit-clustering_k10.graph.txt;stackexchange-clustering_k10.graph.txt;reddit-clustering_k100.graph.txt;stackexchange-clustering_k100.graph.txt;reddit-clustering_k50.graph.txt;stackexchange-clustering_k50.graph.txt;com-lj.ungraph.txt;com-amazon.ungraph.txt;com-dblp.ungraph.txt;com-youtube.ungraph.txt;com-orkut.ungraph.txt;com-friendster.ungraph.txt
ungraph format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

LDDClusterer:
  ldd_config:
    beta: 0.001;8;9;10;15;20;25;100

