Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_scalability_ours/
CSV output directory: /home/sy/ParClusterers/results/out_scalability_ours_csv/
Clusterers: ParallelAffinityClusterer;LDDClusterer;ParallelCorrelationClusterer;ParallelModularityClusterer;ParHacClusterer;ScanClusterer
Graphs: com-lj.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 1;4;8;16;30;60
Number of rounds: 4
Timeout: 7h
Postprocess only: false
Write clustering: false

ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 30
    dynamic_weight_threshold_config:{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.01}

LDDClusterer:
  ldd_config:
    beta: 5

ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 1
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}
    use_refinement: true
    clustering_moves_method: LOUVAIN

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 1
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}
    use_refinement: true
    clustering_moves_method: LOUVAIN

ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 0.1
    epsilon: 0.01;0.1;1

ScanClusterer:
  scan_config:
    mu: 2
    epsilon: 0.5