Input directory: /home/sy/mount-data/LargeKnnGraphs/
Output directory: /home/sy/ParClusterers/results/out_ldd/
CSV output directory: /home/sy/ParClusterers/results/out_ldd_csv/
Clusterers: KCoreClusterer;ParallelModularityClusterer
Graphs: com-lj.ungraph.txt;com-amazon.ungraph.txt;com-dblp.ungraph.txt;com-youtube.ungraph.txt;com-orkut.ungraph.txt;com-friendster.ungraph.txt
ungraph format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

KCoreClusterer:
  kcore_config:
    beta: 32;64;128

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 1656359.49; 63500847.48; 2434470085.38; 93331740161.59; 3578114914569.98
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN