Input directory: /home/sy/mount-data/LargeKnnGraphs/
Output directory: /home/sy/ParClusterers/results/out_snap_more_2/
CSV output directory: /home/sy/ParClusterers/results/out_snap_more_2_csv/
Clusterers: LDDClusterer;KCoreClusterer;ParallelCorrelationClusterer;ParallelModularityClusterer;ParallelAffinityClusterer;ParHacClusterer
Graphs: com-lj.gbbs.txt;com-amazon.gbbs.txt;com-dblp.gbbs.txt;com-youtube.gbbs.txt;com-orkut.gbbs.txt;com-friendster.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

KCoreClusterer:
  kcore_config:
    beta: 32;64;128;256;512


ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 0;1
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 0; 1656359.49; 63500847.48; 2434470085.38; 93331740161.59; 3578114914569.98
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

LDDClusterer:
  ldd_config:
    beta: 8;9;10;11;12;13


ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 4;5;25;30
    dynamic_weight_threshold_config:{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.00001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.0001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.001};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.01};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.1};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.3};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.5};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.7};{weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.9}


ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 1.0; 0.3535533905932738; 0.125; 0.04419417382415922; 0.015625; 0.005524271728019903; 0.001953125; 0.0006905339660024879; 0.000244140625; 8.631674575031098e-05; 3.0517578125e-05; 1.0789593218788873e-05; 3.814697265625e-06; 1.3486991523486091e-06; 4.76837158203125e-07; 1.6858739404357614e-07; 5.960464477539063e-08; 2.1073424255447017e-08; 7.450580596923828e-09; 2.634178031930877e-09
    epsilon: 0.01;0.1;1
