Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_snap_google/
CSV output directory: /home/sy/ParClusterers/results/out_snap_google_csv/
Clusterers: ParallelCorrelationClusterer; ParallelModularityClusterer
Graphs: com-lj.gbbs.txt;com-amazon.gbbs.txt;com-dblp.gbbs.txt;com-youtube.gbbs.txt;com-orkut.gbbs.txt;com-friendster.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false


ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 0.0001; 0.0201; 0.040100000000000004; 0.0601; 0.0801;0.1;0.3; 0.5; 0.7; 0.9
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 0.024;0.04976639999999999;0.10319560703999997;0.2139864107581439;0.4437222213480871;0.9201023981873934;1.9079243328813786;3.956271896662826;8.203725404920034;17.01124499964218
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN
