Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_snap_nk_more/
CSV output directory: /home/sy/ParClusterers/results/out_snap_nk_more_csv/
Clusterers: NetworKitPLM
Graphs: com-lj.ungraph.txt;com-amazon.ungraph.txt;com-dblp.ungraph.txt;com-youtube.ungraph.txt;com-orkut.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

NetworKitPLM:
  PLM_config:
    use_refine: True; False
    gamma: 267511.30
    maxIter: 10; 20
    recurse: True
