Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_snap_neo4j_more/
CSV output directory: /home/sy/ParClusterers/results/out_snap_neo4j_more_csv/
Clusterers: Neo4jLeiden
Graphs: com-lj.ungraph.txt;com-amazon.ungraph.txt;com-dblp.ungraph.txt;com-youtube.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 4
Number of rounds: 1
Timeout: 7h
Postprocess only: false


Neo4jLeiden:
  PL_config:
    gamma: 267511.30
    maxLevels: 10;20

