Input communities: amazon_polarity.cmty;arxiv-clustering-p2p.cmty;arxiv-clustering-s2s.cmty;reddit-clustering.cmty;stackexchange-clustering.cmty
Deterministic: false

statistics_config:
  correlation_resolutions: 0.1
  correlation_edge_weight_offsets: 0
  modularity_resolutions: 0.1
  modularity_resolutions: 0.5
  compute_edge_density: true
  compute_triangle_density: false
  compute_precision_recall: true