Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_lp_other_snap_tmp/
CSV output directory: /home/sy/ParClusterers/results/out_lp_other_snap_csv_tmp/
Clusterers: NetworKitPLP;NetworKitLPDegreeOrdered
Graphs: com-lj.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false
Write clustering: true

Neo4jLabelPropagation:
  label_propagation_config:
    maxIterations: 20;50;100;200
    minCommunitySize: 2


NetworKitPLP:
  label_propagation_config:
    maxIterations: 20;50;100
    updateThreshold: 0

NetworKitLPDegreeOrdered:



SLPAClusterer:
  label_propagation_config:
    max_iteration: 200
    remove_nested: false

TigerGraphLabelProp: