Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_slpa_scalability_snap/
CSV output directory: /home/sy/ParClusterers/results/out_slpa_scalability_snap_csv/
Clusterers: TigerGraphSLLabelProp;LDDClusterer;ScanClusterer
Graphs: com-lj.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1;4;8;16;30;60
Number of rounds: 4
Timeout: 7h
Postprocess only: false
Write clustering: false

SLPAClusterer:
  label_propagation_config:
    max_iteration:20
    remove_nested:false
    prune_threshold:0.2

TigerGraphSLLabelProp:
  label_propagation_config:
    maximum_iteration: 20
    threshold: 0.2

LDDClusterer:
  ldd_config:
    beta: 0.25

ScanClusterer:
  scan_config:
    mu: 5
    epsilon: 0.6