Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_slpa_snap/
CSV output directory: /home/sy/ParClusterers/results/out_slpa_snap_csv/
Clusterers: SLPAClusterer
Graphs: com-amazon.gbbs.txt;com-dblp.gbbs.txt;com-youtube.gbbs.txt;com-lj.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 4
Timeout: 7h
Postprocess only: false

SLPAClusterer:
  label_propagation_config:
    max_iteration:20;50;100
    remove_nested:true;false
    prune_threshold:0.2;0.4