Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_lp_tg_snap/
CSV output directory: /home/sy/ParClusterers/results/out_lp_tg_snap_csv/
Clusterers: TigerGraphLabelPropagation
TigerGraph nodes: com-lj_nodes.csv;com-amazon_nodes.csv;com-dblp_nodes.csv;com-youtube_nodes.csv;com-orkut_nodes.csv;com-friendster_nodes.csv
TigerGraph edges: com-lj_edges.csv;com-amazon_edges.csv;com-dblp_edges.csv;com-youtube_edges.csv;com-orkut_edges.csv;com-friendster_edges.csv
GBBS format: false
Wighted: false
Number of threads: 60
Number of rounds: 4
Timeout: 7h
Postprocess only: false
Write clustering: true

TigerGraphLabelPropagation:
  label_propagation_config:
    maxIterations: 20;50;100
    minCommunitySize: 2