Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_lp_tg_snap/
CSV output directory: /home/sy/ParClusterers/results/out_lp_tg_snap_csv/
Clusterers: TigerGraphLabelProp
Graphs: com-amazon.ungraph.txt;com-lj.ungraph.txt;com-dblp.ungraph.txt;com-youtube.ungraph.txt;com-orkut.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 60
Number of rounds: 4
Timeout: 7h
Postprocess only: false
Write clustering: true

TigerGraphLabelProp:
  label_propagation_config:
      maximum_iteration:20;50;100