Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_md_neo4j_snap/
CSV output directory: /home/sy/ParClusterers/results/out_md_neo4j_snap_csv/
Clusterers: Neo4jLeiden;Neo4jLouvain;Neo4jModularityOptimization
Graphs: com-lj.ungraph.txt;com-amazon.ungraph.txt;com-dblp.ungraph.txt;com-youtube.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 4
Number of rounds: 4
Timeout: 7h
Postprocess only: false
Write clustering: true

Neo4jLeiden:
  PL_config:
    gamma: 1
    maxLevels: 4;10

Neo4jLouvain:
  PLM_config:
    maxIterations: 4;10
    maxLevels: 4;10

Neo4jModularityOptimization:
  PLM_config:
    maxIterations: 4;10
    minCommunitySize: 2

