Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_ldd_scan_clusterer/
CSV output directory: /home/sy/ParClusterers/results/out_ldd_scan_clusterer_csv/
Clusterers: LDDClusterer;ScanClusterer
Graphs: com-lj.gbbs.txt;com-amazon.gbbs.txt;com-dblp.gbbs.txt;com-youtube.gbbs.txt;com-orkut.gbbs.txt;com-friendster.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

LDDClusterer:
  ldd_config:
    beta: 0.01;0.1;0.25;0.5

ScanClusterer:
  scan_config:
    mu: 5;15
    epsilon: 0.6;0.4