Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_slpa_snap_large/
CSV output directory: /home/sy/ParClusterers/results/out_slpa_snap_large_csv/
Clusterers: SLPAClusterer
Graphs: com-orkut.gbbs.txt;com-friendster.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 4
Timeout: 7h
Postprocess only: false

SLPAClusterer:
  label_propagation_config:
    max_iteration:20;50;100
    remove_nested:false
    prune_threshold:0.2;0.4