Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_lp_snap/
CSV output directory: /home/sy/ParClusterers/results/out_lp_snap_csv/
Clusterers: LabelPropagationClusterer
Graphs: com-orkut.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

LabelPropagationClusterer:
  label_propagation_config:
    max_iteration:10;20;50;200
    async: true; false

Neo4jLabelPropagation:
  label_propagation_config:
    maxIterations: 200
    minCommunitySize: 2


NetworKitPLP:
  label_propagation_config:
    maxIterations: 200
    updateThreshold: 100

NetworKitNetworKitLPDegreeOrdered:



SLPAClusterer:
  label_propagation_config:
    max_iteration: 200
    remove_nested: false

TigerGraphLabelProp: