Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_lp_snap/
CSV output directory: /home/sy/ParClusterers/results/out_lp_snap_csv/
Clusterers: LabelPropagationClusterer
Graphs: com-lj.gbbs.txt;com-amazon.gbbs.txt;com-dblp.gbbs.txt;com-youtube.gbbs.txt;com-orkut.gbbs.txt;com-friendster.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

LabelPropagationClusterer:
  label_propagation_config:
    max_iteration:20;50;100;200