Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_tectonic_snap/
CSV output directory: /home/sy/ParClusterers/results/out_tectonic_snap_csv/
Clusterers: TectonicClusterer
Graphs: com-amazon.gbbs.txt;com-dblp.gbbs.txt;com-youtube.gbbs.txt;com-lj.gbbs.txt;com-orkut.gbbs.txt;com-friendster.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

TectonicClusterer:
  tectonic_config:
    threshold:0.02;0.04;0.06;0.08;0.1;0.2
    match_real_tectonic:false
