Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_tectonic_clusterer/
CSV output directory: /home/sy/ParClusterers/results/out_tectonic_clusterer_csv/
Clusterers: TectonicClusterer
Graphs: com-amazon.ungraph.txt;com-dblp.ungraph.txt;com-youtube.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1;2;4;8;16;30;60
Number of rounds: 4
Timeout: 7h
Postprocess only: true

TectonicClusterer:
  tectonic_config:
    threshold:0.02;0.04;0.06;0.08;0.1;1;10
    match_real_tectonic:false
