Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_kcore/
CSV output directory: /home/sy/ParClusterers/results/out_kcore_csv/
Clusterers: KCoreClusterer; SnapKCore; NetworKitKCore; TigerGraphKCore; Neo4jKCore
Graphs: com-lj.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1;2;4;8;16;30;60
Number of rounds: 4
Timeout: 7h
Postprocess only: false

KCoreClusterer:
  kcore_config:
    threshold: 1;2;4;8

Neo4jKCore:

SnapKCore:

NetworKitKCore:
  kcore_config:
    threshold: 1;2;4;8

TigerGraphKCore:
  kcore_config:
    threshold: 1;2;4;8
