Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_lp_lj/
CSV output directory: /home/sy/ParClusterers/results/out_lp_lj_csv/
Clusterers: LabelPropagationClusterer
Graphs: com-lj.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 1;2;4;8;16;30;60
Number of rounds: 4
Timeout: 7h
Postprocess only: false

LabelPropagationClusterer:
  label_propagation_config:
    max_iteration:200
