Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_wcc/
CSV output directory: /home/sy/ParClusterers/results/out_wcc_csv/
Clusterers: ConnectivityClusterer; SnapConnectivity; NetworKitConnectivity; TigerGraphWCC; Neo4jConnectivity
Graphs: com-lj.ungraph.txt
GBBS format: false
Wighted: false
Number of threads: 1;2;4;8;16;30;60
Number of rounds: 4
Timeout: 7h
Postprocess only: true

ConnectivityClusterer:
  connectivity_config:
    threshold: inf

Neo4jConnectivity:
  connectivity_config:
    threshold: None

SnapConnectivity:

NetworKitConnectivity:

TigerGraphWCC: