Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_md_nk_snap/
CSV output directory: /home/sy/ParClusterers/results/out_md_nk_snap_csv/
Clusterers: NetworKitParallelLeiden
Graphs: com-lj.bin;com-amazon.bin;com-dblp.bin;com-youtube.bin;com-orkut.bin;com-friendster.bin
GBBS format: false
Wighted: false
Number of threads: 60
Number of rounds: 4
Timeout: 7h
Postprocess only: false
Write clustering: true

NetworKitPLM:
  PLM_config:
    use_refine: True; False
    gamma: 1
    maxIter: 4;10
    recurse: True

NetworKitParallelLeiden:
  PL_config:
    gamma: 1
    iterations: 4;10


