Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_wcc_quality_uci/
CSV output directory: /home/sy/ParClusterers/results/out_wcc_quality_uci_csv/
Clusterers: ConnectivityClusterer
Graphs: faces.graph.txt; iris.graph.txt;pendigits.graph.txt;wdbc.graph.txt;wine.graph.txt
GBBS format: false
Wighted: false
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

ConnectivityClusterer:
  connectivity_config:
    ratio: 1;0.95;0.9;0.8;0.7