Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_uci_google/
CSV output directory: /home/sy/ParClusterers/results/out_uci_google_csv/
Clusterers: ParallelAffinityClusterer;ParHacClusterer;ParallelCorrelationClusterer;ParallelModularityClusterer
Graphs: faces.graph.txt; iris.graph.txt;pendigits.graph.txt;wdbc.graph.txt;wine.graph.txt
GBBS format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 1;2;4;8;16;32

ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 5;15
    epsilon: 0;0.01;0.1;1

ParallelCorrelationClusterer:
  correlation_clusterer_config:


ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: