Input directory: /home/sy/mount-data/UCIknnGraphs/
Output directory: /home/sy/ParClusterers/results/out_uci_google/
CSV output directory: /home/sy/ParClusterers/results/out_uci_google_csv/
Clusterers: ParallelAffinityClusterer;ParHacClusterer;ParallelCorrelationClusterer;ParallelModularityClusterer
Graphs: faces.graph.txt; iris.graph.txt;digits.graph.txt;wdbc.graph.txt;wine.graph.txt
GBBS format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

ParallelAffinityClusterer:
  affinity_clusterer_config:
    num_iterations: 5;25;100
    dynamic_weight_threshold_config: {weight_decay_function: EXPONENTIAL_DECAY, upper_bound: 1, lower_bound: 0.1}

ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 1.0; 0.5; 0.25; 0.125; 0.0625; 0.03125; 0.015625; 0.0078125; 0.00390625; 0.001953125
    epsilon: 0;0.01;0.1;1

ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 0.024;0.04976639999999999;0.10319560703999997;0.2139864107581439;0.4437222213480871;0.9201023981873934;1.9079243328813786;3.956271896662826;8.203725404920034;17.01124499964218
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 0.024;0.04976639999999999;0.10319560703999997;0.2139864107581439;0.4437222213480871;0.9201023981873934;1.9079243328813786;3.956271896662826;8.203725404920034;17.01124499964218
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN