Input directory: /home/sy/mount-data/UCIknnGraphs/
Output directory: /home/sy/ParClusterers/results/out_uci_ours/
CSV output directory: /home/sy/ParClusterers/results/out_uci_ours_csv/
Clusterers: KCoreClusterer;LDDClusterer;ScanClusterer;LabelPropagationClusterer;SLPAClusterer;TectonicClusterer;ConnectivityClusterer
Graphs: faces.graph.txt; iris.graph.txt;digits.graph.txt;wdbc.graph.txt;wine.graph.txt
GBBS format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false

KCoreClusterer:
  kcore_config:
    threshold: 1;2;3;4;5;6;7;8;16

LDDClusterer:
  ldd_config:
    beta: 0.01;0.1;0.2;0.3;0.4;0.5;0.6;0.7;0.8;0.9

ScanClusterer:
  scan_config:
    mu: 2;5;15
    epsilon: 0.35;0.5;0.7

LabelPropagationClusterer:
  label_propagation_config:
    max_iteration:5;10;50;100


SLPAClusterer:
  label_propagation_config:
    max_iteration:5;10;50;100
    remove_nested:false
    prune_threshold:0.2;0.4

TectonicClusterer:
  tectonic_config:
    threshold:0.01; 0.11; 0.21; 0.31; 0.41; 0.51; 0.61; 0.71; 0.81; 0.91; 1.01; 1.11; 1.21; 1.31; 1.41; 1.51; 1.61; 1.71; 1.81; 1.91; 2.01; 2.11; 2.21; 2.31; 2.41; 2.51; 2.61; 2.71; 2.81; 2.91
    match_real_tectonic:false

ConnectivityClusterer:
  connectivity_config:
    ratio: 0.99; 0.9525961985801931; 0.9166055732822572; 0.8819747320263603; 0.8486522999718135; 0.8165888433025124; 0.785736795891889; 0.7560503887385804; 0.7274855820681303; 0.6999999999999998