Input communities: com-amazon.top5000.cmty.txt;com-lj.top5000.cmty.txt;com-dblp.top5000.cmty.txt;com-youtube.top5000.cmty.txt;com-orkut.top5000.cmty.txt
Deterministic: false

statistics_config:
  correlation_resolutions: 0.1
  correlation_edge_weight_offsets: 0
  modularity_resolutions: 0.1
  modularity_resolutions: 0.5
  compute_edge_density: true
  compute_triangle_density: false
  compute_precision_recall: true