Input communities: com-lj.top5000.cmty.txt; com-amazon.top5000.cmty.txt; com-dblp.top5000.cmty.txt; com-youtube.top5000.cmty.txt; com-orkut.top5000.cmty.txt
Deterministic: true

statistics_config:
  correlation_resolutions: 0.1
  correlation_edge_weight_offsets: 0
  modularity_resolutions: 0.1
  modularity_resolutions: 0.5
  compute_edge_density: true
  compute_triangle_density: true
  compute_precision_recall: true