Input directory: /home/sy/mount-data/LargeKnnGraphs/
Output directory: /home/sy/ParClusterers/results/out_large_weighted_mod_more/
CSV output directory: /home/sy/ParClusterers/results/out_large_weighted_mod_more_csv/
Clusterers: ParallelCorrelationClusterer
Graphs: mnist_k10.graph.txt;mnist_k50.graph.txt;mnist_k100.graph.txt;imagenet_k10.graph.txt;imagenet_k50.graph.txt;imagenet_k100.graph.txt;reddit-clustering_k10.graph.txt;reddit-clustering_k50.graph.txt;reddit-clustering_k100.graph.txt;stackexchange-clustering_k10.graph.txt;stackexchange-clustering_k50.graph.txt;stackexchange-clustering_k100.graph.txt
GBBS format: false
Wighted: true
Number of threads: 60
Number of rounds: 1
Timeout: 7h
Postprocess only: false


ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 2.4e-05; 4.976639999999999e-05; 0.00010319560703999998; 0.0002139864107581439; 0.0004437222213480871; 0.0009201023981873934; 0.0019079243328813788; 0.0039562718966628255; 0.008203725404920035
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}; {num_iterations: 20, num_inner_iterations: 20}
    use_refinement: true; false
    clustering_moves_method: LOUVAIN


