Input directory: /home/sy/mount-data/
Output directory: /home/sy/ParClusterers/results/out_md_scalability/
CSV output directory: /home/sy/ParClusterers/results/out_md_scalability_csv/
Clusterers: ParallelCorrelationClusterer;ParallelModularityClusterer
Graphs: com-lj.gbbs.txt
GBBS format: true
Wighted: false
Number of threads: 1;4;8;16;30;60
Number of rounds: 4
Timeout: 7h
Postprocess only: false

ParallelCorrelationClusterer:
  correlation_clusterer_config:
    resolution: 0.9
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}
    use_refinement: false
    clustering_moves_method: LOUVAIN

ParallelModularityClusterer:
  modularity_clusterer_config:
    resolution: 1
    louvain_config: {num_iterations: 10, num_inner_iterations: 10}
    use_refinement: false
    clustering_moves_method: LOUVAIN